<!DOCTYPE html>
<html>
<head>
	<title>node</title>
</head>
<body>  
        {{> header}}
        <p> this is about page so ask your *** questiions here</p>
        <h1>there i am</h1>
        {{> footer}}
</body>
</html>