<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
            {{> header}}
        <p>{{ aboutText}}</p>
        <h2>today's date is {{todayDate}}</h2>
        <h4>is this dynamic or not {{dynamic}}</h4>
        {{> footer}}
</body>
</html>